<footer>
  <div class="site-footer">
    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <ul>
            <li>{{ site.title }}</li>
            <li>{{ site.address_street }}</li>
            <li>{{ site.address_place }}</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li>Tel <a href="tel:{{ site.phone_compact }}">{{ site.phone }}</a></li>
            <li>Fax {{ site.fax }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>
        <div class="col-sm-5">
          <p class="text">
            {{ site.description }}<br>
            {{ site.vat_nr }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="footer-heading"><img src="/img/logo.png" alt="Sanhei AG"></h2>
        </div>
      </div>

    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          © Sanhei AG 2017, created by Lukas Elmer, 2015
        </div>
      </div>
    </div>
  </div>
</footer>
